# Ignored files

# pdflatex output files except the pdf 

*.aux 
*.log
*.fdb_latexmk 
*.fls 
*.synctex.gz  

.env 

# Any cache files and fdev.js front end dev file

**/cache/ 
**/.cache/
valuni_src/src/fdev.js
