@import '../ConstColors.css'; 

.homepage-container { 

  align-items: center; 
  justify-content: center;   
  width: 100vw;

} 


.homepage-title { 
  text-indent: 1em; 
  font-size: 2.3em; 
  font-weight: 700;
  color: var(--dark-1);
} 


@media (prefers-reduced-motion: no-preference) {
  .homepage-title {
  animation: fadeInBottom 1.5s var(--bezier-easeInOutBack);
  }
} 

.divider { 
margin-bottom: 7vh;
}
