/* CourseBoxes.css */
@import url('../ConstColors.css');

.CourseBox {
  background-color: var(--light-1); /* Gray background color */
  border-radius: 1.5em; /* Curved edges */
  padding: 0.7em; /* Add padding for better spacing */
  text-align: left;
  width: 15rem; /* Set a fixed width for the box */
  height: 6em;
  margin: 0; /* No margin at the beginning of the box */
}

.RatingDetails {
  display: flex;
  justify-content: flex-start; /* Adjusted to flex-start for left alignment */
}

.Stars {
  width: 1.5em; /* Set a slightly smaller width for the stars */
  height: 1em; /* Set a slightly smaller height for the stars */
  
}

.CourseTitle, .ProfDetails {
  margin: 0.2em 0; /* Add margin for better spacing between title/details and ratings */
}

.CourseTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.ProfDetails {
  font-size: 0.8em;
  font-weight: bold;
}
