@import url(../ConstColors.css);
.container{
    display: flex;
    overflow-x: auto;
    width: 100vw;
    height: 30vh; 
    margin-top: 1vh; 
    z-index: 0;
    
  }
  .container::-webkit-scrollbar{
    width: 2em;
}
  .container::-webkit-scrollbar-track{
    border-radius: 2em;
    width: 2em;
    margin-left: 1em;
  }
  .container::-webkit-scrollbar-thumb {
    background: var(--light-1) ; 
    border-radius: 5rem;
    width:2em;
    border: 1em solid var(--light-1);

  }
  .container::-webkit-scrollbar-track-piece{
    width:2em;

  } 

@media (prefers-reduced-motion: no-preference) {
  .container {
  animation: fadeInBottom 1.5s var(--bezier-easeInOutBack);
  }
}

