@import "../ConstColors.css";

.btn{
    background-color: var(--acc-blue-dark); 
    color: var(--light-1); 
    padding: 0.4em 1.35vw; 
    border: none;
    border-radius: 1.3rem; 
    cursor: pointer;
    text-align: center;
    font-size: 3vh; 
    font-weight: bold; 
    text-decoration: none;
    transition: background-color 0.3s ease; 
    transition: box-shadow 0.3s ease; 
    box-shadow: 0.2em 0.2em 0.5em 0 rgba(0, 0, 0, 0.8); 
    }

.btn:active{
    background-color: #003a6f; 
    box-shadow: none;
}

.btn:hover{
    background-color: #0056b3; 
    box-shadow: 0.1em 0.1em 0.3em 0 rgba(0, 0, 0, 0.8); 
} 

@media (prefers-reduced-motion: no-preference) {  
  .btn {

  }
}
