@import url('../ConstColors.css');


.Topbar {
    background-color: var( --dark-1); 
    padding-top: 1.5vh; 
    padding-bottom: 1.5vh; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--dark-2); 
<<<<<<< HEAD
    height: 5vh;   
    margin: auto;
=======
    width: 100em; 
    height: 3em;
    overflow: hidden;
    
>>>>>>> refs/remotes/origin/dev-f
  }
  
  .Topbar-wrapper {
    
}

  .SearchBar {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally within SearchBar */
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    border: 1.5vh solid var(--dark-2); /* Change the border color as needed */
    border: 0.58vh solid;
    border-radius: 2vh; 
    border-color: var(--dark-2);
    background-color: var(--dark-2);
    color: var(--dark-1); 
    width: 40vw;
    height: 3vh;
  }
  
  /* Styles for the text input */
  .TxtBar {
 
    width: 70vw;
    height: 2.5vh; 

    
    justify-content: center;  
    align-items: center;
    
    border: 0px solid;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    
    color: white; 
    font-size: 0.9em;

   
} 

.TxtBar:focus{
    outline: none;
}
  
  /* Add more styles or adjust existing styles as per your design */
  
  /* Optional: Add styles for the icon if you want to customize it */
  .btnSearch{
   
    font-size: 2.3vh;
    color: var(--dark-3); 
    padding-right: 0.4vw; 
    margin-top: 0.4vh; 

    cursor: pointer;
    border: 0em solid;
    border-left: 0em;
    border-radius: 0em; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
} 
  
.App-logo { 
    padding: 0.5vh; 
    margin-right: 23vw;
    height: 6vh;      
    /* opacity: 10%; */
    /* padding: 2rem;  */
    
}

.label{
    font-size: 3vh;
    font-weight: bold;
    margin-left: 23vw;
} 

.inside-corner { 
background-color: rgba(0,0,0,0); 
width: 100%;
height: 5vh;
border-radius: 5vw 5vw 0 0; 
box-shadow: -1px -39px 0px 38px var(--dark-1);
-webkit-box-shadow: -1px -39px 0px 38px var(--dark-1);
-moz-box-shadow: -1px -39px 0px 38px var(--dark-1);

} 


@media (prefers-reduced-motion: no-preference) {
  .Topbar-container {
  animation: fadeInTop ease-in-out 0.5s 1 normal forwards;   
  }
}

