
/* COLOR CONSTANTS */ 


:root{ 
 --dark-0:          #0C1F20; 
 --dark-1:          #203435; 
 --dark-2:          #3E5152; 

 --light-1:         #E6F1F2; 
 --light-2:         #F1FBFC; 

 --acc-blue-dark:   #294158; 
 --acc-blue-light:  #48AFD5; 
 --acc-orange:      #D88E3C;
}

.App {
  text-align: center;
  min-width: 100%;
}

.App-logo {
  height: 10rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear; 
  }
}

.App-header {
  min-height: 100%; 
  background-color: var(--dark-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
