
@import url('../ConstColors.css');

.login { 
    text-align: center;
    justify-content: center;
    margin: auto;
} 


.App-logo-type { 
    height: 3vh;      
    opacity: 0%;
    padding: 1vh;  
}; 


@media (prefers-reduced-motion: no-preference) {  
  .App-logo-type {
      animation: fadeInForward 0.7s var(--bezier-easeInOut);
  } 
}

.login-form {  
    align-items: center;
    justify-content: center;
    flex: 1; 
    flex-direction: column;
} 

.login-background-image { 
    height: 25rem; 

}

.App-logo {
    height: 10rem;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: fadeInBottom 1.5s var(--bezier-easeInOutBack);
    }
  }
  
  .login-header {
  }
  
  .login-link {
    color: #61dafb;
  } 


  

  
