
@import url('../ConstColors.css');

.login {  
    min-width:100vw; 
    min-height:100vh;
} 

.App-logo-type { 
    height: 7vh;      
    opacity: 0%;
    padding: 3vh;  
}


@media (prefers-reduced-motion: no-preference) {  
  .App-logo-type {
  animation: fadeInForward 0.7s var(--bezier-easeInOut);
  } 
}

.login-form {    
    display: flex;   
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    background-image: url('../resources/VAL_BCKGRD_SPLASH_LGHT.svg'); 
    background-position: 97% 97%; 
    background-size: 30%; 
    background-repeat: no-repeat;
} 

.login-background-image { 
    height: 45vh;  
}

.App-logo {
    height: 20vh;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  animation: fadeInBottom 1.5s var(--bezier-easeInOutBack);
  }
}
  
.login-header {
}

.login-link {
  color: #61dafb;
} 




  
