
@import url('../ConstColors.css');

.login {  
    min-width: 100vw; 
    min-height: 100vh;
    background-image: url('../resources/VAL_BCKGRD_SPLASH_LGHT.svg'); 
    background-position: 97% 97%; 
    background-size: 30%; 
    background-repeat: no-repeat;
} 

.App-logo-type { 
    height: 7vh;      
    width: 100%;
    opacity: 0%;
    padding-top: 2rem;  
    padding-bottom: 2rem;  
}


@media (prefers-reduced-motion: no-preference) {  
  .App-logo-type {
  animation: fadeInForward 0.7s var(--bezier-easeInOut);
  } 
}

.login-form {    
    display: flex;   
    min-height: 100vh; 
    margin-right: 30vw; 
    margin-left: 30vw;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
} 

.login-background-image { 
    height: 45vh;  
}

.Applogo {
    height: 20vh; 
    width: 100%;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .Applogo {
  animation: fadeInBottom 1.5s var(--bezier-easeInOutBack);
  }
}
  

.login-link {
  color: #61dafb;
} 




  
